{% extends 'app/base.html' %}

{% block section %}


{% include 'app/header.html' %}

   <!-- Main Content -->
   <div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <h2>Contenu Principal</h2>
            <p>Ici, vous pouvez ajouter le contenu principal de votre page. Vous pouvez inclure des articles, des vidéos, des images, etc.</p>
        </div>
        <div class="col-md-4">
            <h2>Sidebar</h2>
            <p>Cette section peut contenir des liens supplémentaires, des widgets, des publicités, etc.</p>
        </div>
    </div>
</div>

{% include 'app/footer.html' %}

{% endblock %}